.divs-tabs-crud {
    align-items: center;
    justify-content: center;
    margin: 2% 20%;
    border-radius: 8px;
}

.div-field {
    margin: 0% 10%;
    min-width: 150px;
}

.field-crud {
    width: 100%;
}

.fileC{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}


.buttons {
    display: flex;
    justify-content: space-between;
  
    width: 100%;
  }