  <div class="titulo">
    <h1>Reportes</h1>
  </div>
  <div class="reps">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Reporte 2
          </mat-panel-title>
        </mat-expansion-panel-header>

        <h3>El listado de todos los Servicio de ayuda de sexo masculino que hayan nacido arriba de ​X ​año</h3>
        <mat-form-field class="field-crud">
          <input matInput type="number" placeholder="Año X" [(ngModel)]="reporte2" required>
        </mat-form-field>
        <button (click)="reporte(2)">
          <mat-icon>description</mat-icon>
        </button>
        <mat-table [dataSource]="REPORTE2" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="NO_IDENTIFICADOR">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.USUARIO_ID}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="USERNAME">
            <mat-header-cell *matHeaderCellDef> Nombres </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.USUARIO_NAME}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="NOMBRE">
            <mat-header-cell *matHeaderCellDef> Apellidos </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.LAST_NAMES}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="TIPO_USUARIO">
            <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.NAME_TYPE}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
        </mat-table>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Reporte 3
          </mat-panel-title>
        </mat-expansion-panel-header>

        <h3>El listado de todos los administradores de sexo femenino que hayan nacido debajo de Y ​año</h3>
        <mat-form-field class="field-crud">
          <input matInput type="number" placeholder="Año Y" [(ngModel)]="reporte3" required>
        </mat-form-field>
        <button (click)="reporte(3)">
          <mat-icon>description</mat-icon>
        </button>
        <mat-table [dataSource]="REPORTE3" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="NO_IDENTIFICADOR">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.USUARIO_ID}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="USERNAME">
            <mat-header-cell *matHeaderCellDef> Nombres </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.USUARIO_NAME}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="NOMBRE">
            <mat-header-cell *matHeaderCellDef> Apellidos </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.LAST_NAMES}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="TIPO_USUARIO">
            <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.NAME_TYPE}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns3"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns3;"></mat-row>
        </mat-table>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Reporte 4
          </mat-panel-title>
        </mat-expansion-panel-header>

        <h3>Los clientes que más ganancias han generado ordenandos de mayor a menor</h3>
        <button (click)="reporte(4)">
          <mat-icon>description</mat-icon>
        </button>
        <mat-table [dataSource]="REPORTE4" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="NO_IDENTIFICADOR">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.USUARIO_ID}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="USERNAME">
            <mat-header-cell *matHeaderCellDef> Nombres </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.USUARIO_NAME}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="NOMBRE">
            <mat-header-cell *matHeaderCellDef> Apellidos </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.LAST_NAMES}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="TIPO_USUARIO">
            <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.NAME_TYPE}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns4"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns4;"></mat-row>
        </mat-table>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Reporte 6
          </mat-panel-title>
        </mat-expansion-panel-header>

        <h3>Top 3 de productos más vendidos</h3>
        <button (click)="reporte(6)">
          <mat-icon>description</mat-icon>
        </button>
        <mat-table [dataSource]="REPORTE6" class="mat-elevation-z8">

          <ng-container matColumnDef="NOMBRE">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.PRODUCT_NAME}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="VENTAS">
            <mat-header-cell *matHeaderCellDef> No. Ventas </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.VENTAS}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns6"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns6;"></mat-row>
        </mat-table>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Reporte 7
          </mat-panel-title>
        </mat-expansion-panel-header>

        <h3>Top 3 de clientes que más productos tenga en su catálogo</h3>
        <button (click)="reporte(7)">
          <mat-icon>description</mat-icon>
        </button>
        <mat-table [dataSource]="REPORTE7" class="mat-elevation-z8">

          <!-- Name Column -->
          <ng-container matColumnDef="NOMBRE">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.USUARIO_NAME}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="PRODUCTOS">
            <mat-header-cell *matHeaderCellDef> No. Productos del Usuario </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.PRODUCTOS}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
        </mat-table>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Reporte 10
          </mat-panel-title>
        </mat-expansion-panel-header>

        <h3>Todos los productos que tengan ​ X ​ cantidad disponible</h3>
        <mat-form-field class="field-crud">
          <input matInput type="number" placeholder="Cantidad Disponible" [(ngModel)]="reporte10" required>
        </mat-form-field>
        <button (click)="reporte(10)">
          <mat-icon>description</mat-icon>
        </button>
        <mat-table [dataSource]="REPORTE10" class="mat-elevation-z8">

          <ng-container matColumnDef="NOMBRE">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.PRODUCT_NAME}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="CODIGO">
            <mat-header-cell *matHeaderCellDef> Codigo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.PRODUCT_COD}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="PRICE">
            <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.PRICE}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns10"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns10;"></mat-row>
        </mat-table>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Bitacora
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button (click)="reporte(11)">
          <mat-icon>description</mat-icon>
        </button>

        <mat-table [dataSource]="REPORTE11" class="mat-elevation-z8">

          <ng-container matColumnDef="NOMBRE">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.USUARIO_NAME}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="CORREO">
            <mat-header-cell *matHeaderCellDef> Correo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.MAIL}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="DESCRIPCION">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.ACCION}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="FECHA">
            <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.FECHA}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns11"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns11;"></mat-row>
        </mat-table>

      </mat-expansion-panel>
    </mat-accordion>



  </div>