.contenedor {
    width: 70%;
    margin: auto;
}

.titulo {
    width: 100%;
    justify-content: center;
}

.titulo h1 {
    width: 100%;
    text-justify: center;
}

.reps {
    width: 100%;
}

.buscador {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

table {
    width: 100%;
  }

