<form>
    <div class="entremedio">
        <mat-form-field class="field-crud">
            <input required="required" matInput placeholder="Nombres" [(ngModel)]="user.USUARIO_NAME" name="NOMBRE">
        </mat-form-field>
        <mat-form-field class="field-crud">
            <input required="required" matInput placeholder="Apellidos" [(ngModel)]="user.LAST_NAMES" name="APELLIDO">
        </mat-form-field>
    </div>
    <div class="entremedio">
        <mat-form-field class="field-crud">
            <input required="required" matInput placeholder="Correo" [(ngModel)]="user.MAIL" name="CORREO">
        </mat-form-field>
    </div>
    <div class="entremedio">
        <mat-form-field class="field-crud">
            <input required="required" matInput placeholder="Contraseña" [formControl]="passControl" [errorStateMatcher]="match" [(ngModel)]="user.PASSWORD_USER" name="PASSWORD">
            <mat-hint>1 Mayus, 1 Minus, 1 Numero, 1 caracter, 9 o + longitud</mat-hint>
            <mat-error *ngIf="passControl.hasError('pattern')">
                Contraseña <strong>Erronea</strong>
              </mat-error>
        </mat-form-field>
    </div>
    <div class="entremedio">
        <mat-form-field class="field-crud">
            <input required="required" matInput placeholder="Direccion" [(ngModel)]="user.CLI_ADDRESS" name="DIRECCION">
        </mat-form-field>
        <mat-form-field class="field-crud">
            <input required="required" type="number"  matInput placeholder="Telefono" [(ngModel)]="user.TEL_NUMBER" name="TELEFONO">
        </mat-form-field>
    </div>
    <div class="div-field">
        <div class="field-crud">
            <div class="fileC">
                <div class="chooser">
                    <label for="FOTO">Fotografia</label>
                    <input type="file" id="FOTO" accept="image/*" (change)="changeImage($event)">
                </div>
                <button mat-button (click)="subirImagen()">Subir Logo</button>
            </div>
        </div>
    </div>
    <div class="div-field">
        <mat-form-field class="field-crud">
            <input matInput [matDatepicker]="picker" placeholder="Fecha Nacimiento" [(ngModel)]="fecha"
                name="BIRTH_DATE">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="entremedio">
        <mat-form-field *ngIf="editar">
            <mat-label>Tipo Usuario</mat-label>
            <mat-select [(ngModel)]="user.TYPE_USUARIO_ID" name="TIPO" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let tipo of tipoUsuarios" [value]="tipo.TYPE_USUARIO_ID">
                    {{tipo.NAME_TYPE}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="tipoUsuario.hasError('required')">Elija un Tipo de Usuario</mat-error>
            <mat-hint>{{tipoUsuario.value?.sound}}</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Genero</mat-label>
            <mat-select [(ngModel)]="user.GENDER_ID" name="GENERO" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let gen of generos" [value]="gen.GENDER_ID">
                    {{gen.GENDER_NAME}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="genero.hasError('required')">Elija un Genero</mat-error>
            <mat-hint>{{genero.value?.sound}}</mat-hint>
        </mat-form-field>
    </div>
    <div class="buttons">
        <button mat-raised-button color="primary" (click)="onNoClick()">Cancelar</button>
        <button mat-raised-button color="primary" *ngIf="editar" (click)="edit()">Editar</button>
        <button mat-raised-button color="primary" *ngIf="registrar" (click)="register()">Registrar</button>
    </div>
</form>