.divs-tabs-crud {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 100%;
}

.field-crud {
    width: 400px;
}

.fileC{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.entremedio {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
  
    width: 100%;
  }