.div-tabla {
    margin-left: 5%;
    margin-right: 5%;
}

.btn-adduser {
    justify-content: right;
}

.card-crud {
    margin: 2% 5% 5% 5%;
}

.tabs-crud {
    margin-left: 5%;
    margin-right: 5%;
}

.titulo-crud {
    text-align: center;
}

.div-tabs-crud {
    align-items: center;
    justify-content: center;
    margin: 2% 2%;
    border-radius: 8px;
}

.divs-tabs-crud {
    align-items: center;
    justify-content: center;
    margin: 2% 20%;
    border-radius: 8px;
}

.div-field {
    margin: 0% 10%;
    min-width: 150px;
}
.field-crud {
    width: 100%;
}

.fileC{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.table-full-width {
    max-width: 100%;
}

.entremedio {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
  
    width: 100%;
  }

  .example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  